body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    margin: 20px;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

ul li {
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: center;
}

.mainNav a {
    display: block;
    padding: 15px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: #e7e7e7;
    background-repeat: no-repeat;
    background-position: center 5px;
    padding-top: 40px; /* смещаем текст вниз под иконку */
    transition: background-color 0.3s ease, color 0.3s ease;
    border-right: 1px dashed #999;
}

.mainNav li:nth-child(1) a {
    background-image: url('images/home.png'); /* иконка для "Главная" */
}

.mainNav li:nth-child(2) a {
    background-image: url('images/sensation.png'); /* иконка для "Сенсации" */
}

.mainNav li:nth-child(3) a {
    background-image: url('images/expertise.png'); /* иконка для "Экспертизы" */
}

.mainNav li:nth-child(4) a {
    background-image: url('images/mystification.png'); /* иконка для "Мистификации" */
}

.mainNav li:nth-child(5) a {
    background-image: url('images/projects.png'); /* иконка для "Проекты" */
}

.mainNav li:nth-child(6) a {
    background-image: url('images/horoscope.png'); /* иконка для "Гороскопы" */
}

.mainNav a:hover {
    background-color: #d1d1d1;
    color: white;
}

.mainNav li:last-of-type a {
    border-right: none;
}

.mainNav a.active {
    background-color: #999;
    color: white;
    font-weight: bold;
}

@media (max-width: 768px) {
    ul {
        flex-direction: column;
    }
    .mainNav a {
        text-align: left;
        padding-left: 40px;
    }
}
